/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-image: url("https://boldquestions.files.wordpress.com/2016/01/street-toilet.jpg");
   background-size: cover;
   background-position: center;
   background-color: #C2DFFF;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

.vertical-center {
   margin: 0px 100px;
 }
nav {
  padding: 0px 100px;
}

img.small-cover {
    width: 200px;
    height: 300px;
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
}

div.toilet-item {
   margin-top: 14px;
}

.cover {
  margin-right: 10px;
}

.details {
  width: 400px;
}
