/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
   color:#000066;
    font-family: verdana;
    font-size: 500%;
 }
 th{
   color:black;

    font-size:300%;
 }
 body{
   background-image: url("https://boldquestions.files.wordpress.com/2016/01/street-toilet.jpg");
   background-size: cover;
   background-position: center;
   background-color: #C2DFFF;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

.vertical-center {
   margin: 0px 100px;
}

nav {
  padding: 0px 100px;
}

.transparant-background {
  background-color:white; color:black;
  padding:20px;
  filter: alpha(opacity=80); opacity: 0.8;
}

img.small-cover {
    width: 200px;
    height: 300px;
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
}

div.toilet-item {
   margin-top: 14px;
}

.cover {
  margin-right: 10px;
}

.details {
  width: 400px;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center ;
    padding: 10px;
    font-size: 16px ;
    font-family: verdana ;
    width: 100% ;
    height: 50px ;
    background-color: #2B2B2B ;
}

.gottago {
  color: white;
}
