.form-signin {
  position: center;
  float: left;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-left: 250px;
  border: 10px;
  border-color: black;
}

.form-register {
  position: center;
  clear: right;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
