// Place all the styles related to the toilets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .img {
   align-items: center;
 }

 .deo {
    position: relative;
    width: 500px;
    margin: 20px auto;
    padding: 5px;
    background: white;
  }

    p {
      font-size: 30px;
      line-height: 50px;
      font-family: josefinesans;
    }
